<a href="https://colab.research.google.com/github/shubhamkadu/pythonBasic/blob/main/pythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
carector_name="himanshu"
carector_age="54"
print("pubg playing boy is"+carector_name)
print("age of the boy is"+carector_age)

# we can't do string and number concatination

In [ ]:
a="rugwed"
print(a.upper())
print(a.isupper())
print(a.upper().isupper())


name=input("enter name")
print("helllllo"+name)

In [ ]:
t=[1,2,3,6,4,5]
r=["sh",'jh','isdh']
t.extend(r)
print(t)
r.append('zzz')
print(r)
r.insert(2,'qqqqq')
print(r)
t.remove(2)
print(t)
t.clear()
print(t)
r.pop()
print(r)
print(r.index("sh"))
print(r.count('sh'))
t.sort()
print(t)

In [ ]:
r=[1,5,3,7,8]
r.sort()
print(r)
r.reverse()
print(r)
r1=r
print(r1)
r1=r.copy
print(r1)

In [ ]:
# lists :-> use to store multiple item in single variable

#ordered,changealbe and allow duplicates

#ordered:-> each item in list have ordered i.e car at 0 position and,bike at 1 pos. and so on
#item added at last position


list=['car','bike',12,12.34,True]      
print(list)
print(len(list)) 
print(type(list))
print(list[0])
print(list[2:5])
list[2]='scooter'
print(list)
list[1:4]='shubham'
print(list)
list[1:4]=[3,'shubham','hello']
print(list)
list.insert(4,'null')
print(list)
list.append(55555)
print(list)

['car', 'bike', 12, 12.34, True]
5
<class 'list'>
car
[12, 12.34, True]
['car', 'bike', 'scooter', 12.34, True]
['car', 's', 'h', 'u', 'b', 'h', 'a', 'm', True]
['car', 3, 'shubham', 'hello', 'b', 'h', 'a', 'm', True]
['car', 3, 'shubham', 'hello', 'null', 'b', 'h', 'a', 'm', True]
['car', 3, 'shubham', 'hello', 'null', 'b', 'h', 'a', 'm', True, 55555]

In [ ]:
#tuple :->tuple is a type of datastructure basically called it container
coordinates=(1,5)   #tuple is immutible we cannot modify and change,add element
print(coordinates[1])#we cannot change the element like this coordinates[1]=4
co=[(1,2),(3,6),(1,2),(9,7)]  # tuple inside the list
print(co)
co[0]=(10,20) #we can change like this because of tuple inside the list
print(co)





#ordered,unchangealbe and allow duplicates
tuple=('car','bike',12,12.34,True) 

#we can use any variable name instead of tuple variable name
mytuple=('car','bike',12,12.34,True)    

print(tuple)
print(len(tuple)) 
print(type(tuple))
print(tuple[0])
print(tuple[2:5])
#tuple[2]='scooter' we cannot do this in tuple
print(tuple)
#tuple[1:4]='shubham' 
print(tuple)
#tuple[1:4]=[3,'shubham','hello']  
print(tuple)
#tuple.insert(4,'null')
print(tuple)
#tuple.append(55555)
print(tuple)


tuple=('car') # if we put single string item in tuple it become string
print(type(tuple))

tuple=(12) # if we put single intiger item in tuple it become intiger
print(type(tuple))

In [ ]:
list=[1,3,4,6,3,24]
[i/2 for i in list]

[0.5, 1.5, 2.0, 3.0, 1.5, 12.0]

In [ ]:
# dictionary:-> store the data in key value pair
#unordered, changeable and Do not allow duplicates value
dictt={
    "name":"shubham",
    "age":23,
    "vehicle":"ford endeavour",
    "DOB":"8-6-1998",
    "single":True,
    "single":False,  # not allow duplicates value it overwrite
    "fruits":['apple','bananas','blueberries',12]
}
print(dictt)

#this how we can access any single value
x=dictt['fruits']  
print(x)

#this how we can access any single value
y=dictt.get('name')  
print(y)

#to change the value
dictt['name']='rugwed'
print(dictt)
  #or
print(dictt.update({"name":'himanshu'}))

#to add the value
dictt['colour']='yellow'
print(dictt)

# to remove value
dictt.pop('name')
print(dictt)

import collections
d1 = {'spam': 1}
d2 = {'eggs': 2}
merged = collections.ChainMap(d2, d1)
print(merged)
# merged['eggs'] = 999

In [ ]:
#list comprehension
#list comprehension offer us to create a new list from existing list with smaller list of code
fruits=['apples','bananas','kivi','mango']
newfruits=[x for x in fruits if 'i' in x] # newfruits print the x automatically for the x in fruits if the i is present in x
print(newfruits)

newfruits=[x for x in fruits if x !='bananas'] 
print(newfruits)

num=[x for x in range(10) if x<5]
print(num)


fruits=['apples','bananas','kivi','mango']
newfruits=[x if x!='bananas' else 'orange' for x in fruits]
print(newfruits)


list=[1,3,4,6,3,24]
[i/2 for i in list]

['kivi']
['apples', 'kivi', 'mango']
[0, 1, 2, 3, 4]
['apples', 'orange', 'kivi', 'mango']

In [ ]:
def greet_all(names: list[str]) -> None:
    for name in names:
        print("Hello", name)

In [ ]:
def validate():
    lis1 = [5,6]
    lis2 = map(lambda x: x % 2, lis1)
    return lis2
print(validate())

In [ ]:
def sample(n):
    def product(x):
        return x * n
    return product

x = sample(10)
y = sample(15)

print(x(y(4)))

600

In [ ]:
#  functions
# function a collection of code to perform a spesific task

def animal_humen():
  print("hello fuckers")
animal_humen()

# paramer is a piece of information give to function

def animal_humen(name):     # the name inside animal_humen() is argument
  print("hello fucker" + name)
animal_humen("shubham")     # the shubham inside animal_humen() is parameter


def animal_humen(name,age):
  print("hello" + name + "my age is" +age)
animal_humen("mike","101")


def animal_humen(name,age):
  print("hello" + name + "my age is" +str(age))
animal_humen("mike",101)

# return statement in function
# return keyword allow us get some infromation or value from function

def cub(num):
  num*num*num
cub(3)         # it's not giving anything in the output
print(cub(3))  # also it's not working

def cub(num):
  return num*num*num
  print("shubham")  # after return statement not going execute any line of code
cub(3)   
result = cub(4)
print(result)

In [ ]:
# to find the square and cube of numbers
list = [1,2,3,4,5,6,7]
y=[]
def long(x):
  for i in x:
    y.append(i*3)
  print(y)
long(list)  

or

[i*3 for i in list]

In [ ]:
#function as argument

list=['car','bus','bike','scooter']

def loop(x):
  print(x*3)

def map_simple(crazy,list):
  for items in list:
    crazy(items)
map_simple(loop,list)

carcarcar
busbusbus
bikebikebike
scooterscooterscooter

In [ ]:
# if statements
is_male = True

if is_male:
  print("shubham")
else:
  print("rashmi")  

is_male = True
is_tall = True

if is_male or is_tall:
  print("shubham")
else:
  print("rashmi")    

is_male = True
is_tall = False

if is_male and is_tall:
  print("shubham")
else:
  print("rashmi")    


if is_male and is_tall:
  print("shubham")
elif is_male and not(is_tall):
    print("u r ashort male")
elif not(is_male) and is_tall:
    print("u r ashort male")    
else:
  print("rashmi")   






def max_num(num1,num2,num3):
  if num1>=num2 and num1>=num3: #not equal to (!=)
    return num1
  elif num2>= num1 and num2>=num3:
    return num2      
  else:
    return num3  
max_num(6,4,8)

In [ ]:
num1 = float(input("enter first number: "))
op = input("enter  operator: ")
num2 = float(input("enter second number: "))

if op == "+":
  print(num1+num2)
elif op == "-":
  print(num1-num2)
elif op == "/":
   print(num1/num2)    
elif op == "*":
   print(num1*num2)
else:
  print("invalid operator")

In [ ]:
#Dictionary
# the dictionary is aspecial structure in python which allow us to store information in key value pair
dic = {
    "sh":"shubham",
    "kd":"kadu",
    "rg":"rugwed",
    "hm":"himanshu",
    "rm":"rashmi",
    
}
print(dic["sh"])
print(dic.get("hm"))
print(dic.get("lv")) #it give the none for invalid key


dic = {
    0:"shubham",
    1:"kadu",
    2:"rugwed",
    3:"himanshu",
    4:"rashmi",
    
}
print(dic[0])

In [ ]:
# while Loop
# while loop is basically a structure in python which allows us to loop through and execute block of code multiple time

i=1
while i<=10:
  print(i)
  i+=1
print("done with loop")  





secret_word = "shubham"

while input("enter guess: ") != secret_word:
  print("not correct")

print("you win")




secret_word = "shubham"
guess =""
while guess!= secret_word:
  guess=input("enter guess:")
  print("not correct")

print("you win")



secret_word = "shubham"
guess =""
guess_counter = 0
out_of_guess = False

while guess!= secret_word and not(out_of_guess):
  if guess_counter<=3:
    guess=input("enter guess:")
    guess_counter += 1
  else:
    out_of_guess = True
if out_of_guess:
  print("out of the guess, tou lose!")
else:
  print("you win")

In [ ]:
secret_word = "shubham"
guess_counter = 0
a=3

while input("enter guess:")!= secret_word:
  if guess_counter<3:
    print("incorrect guess")
    print("you have only chance:"+str(a))
    a -= 1
    guess_counter += 1
  else:
    break
if guess_counter>2:
  print("out of the guess, you lose!")
else:
  print("you win")

In [ ]:
# for loop


for letter in "shubham":
  print(letter) 


frd=["shubham","rugwed","himanshu"]
for f in frd:
  print(f)




for i in range(10):
  print(i)


for i in range(5,10):
  print(i)  


frd=["shubham","rugwed","himanshu"]
for i in range(len(frd)):
  print(i)




frd=["shubham","rugwed","himanshu"]
for i in range(len(frd)):
  print(frd[i])

In [ ]:
#  Exponent function

def raise_to_power(base_num,pow_num):
  result=1
  for i  in range(pow_num):
    result=result*base_num
  return result
raise_to_power(9,3)

In [ ]:
#2D lists and nested loops

#2D lists

number=[
        [1,2,3],
        [3,4,5],
        [8,4,6],
        ]
for row in number:
  print(row)
  for col in row:
    print(col)

[1, 2, 3]
1
2
3
[3, 4, 5]
3
4
5
[8, 4, 6]
8
4
6

In [ ]:
#Build translator
def translate(phrase):
  tranlation = ''
  for letter in phrase:
    if letter in 'AEIOUaeoiu':
      if letter.isupper():
            tranlation+='G'
      else:
           tranlation+='g'
    else:
      tranlation +=letter 
  return tranlation
print(translate(input(" enter the phrase: ")))

 enter the phrase: ShUbham
ShGbhgm

In [ ]:
#comments in python
'''shubham
rugwed
himanshu'''

In [ ]:
try:
  ans = 10/0
  num = int(input('enter the input: '))
  print(num)
except ZeroDivisionError:
  print('divided by zero')  
except ValueError:
  print('invalid syntax')

In [ ]:
#Reading python files

open('file name OR path of the file','r') # to read
open('file name','w') # to write
open('file name ','r+') # it means read and write
open('file name ','a') # a means append and we cannot change cointend of file but add the information at the end of the file


# to store the open file in variable


file = open('file name ','r') # it store the opend file in file varialbe
file.close()  # to close the file for security

# to check file is readable or not

file = open('file name ','r')
print(file.readable) # to check file is readable or not if it is then return true


file = open('file name ','w')
print(file.readable) # it is not readable

#  to read file
file = open('file name ','r')
print(file.read())

# to read individual line of file
file = open('file name ','r')
print(file.readline())


# to read charectors in the file
file = open('file name ','r')
print(file.read(30))

print(file.readlines()) # to read multiple lines but it return in array formate
print(file.readlines()[1]) # it read first line which store in array formate

# for loop to read lines in files
file = open('file name ','r')

for line in file.readlines():
  print(line)
file.close()

In [ ]:
# write into end of the file

file = open('file name ','a')
file.write('this is the line going to add at end of the file') # if we run this agian and agian then it add same line in front of previous line not in next line
print(file.readline) 


file.write('\n this is the second line add in new line in to file')

# write in to the file

file = open('file name ','w')
file.write('this is the line')# this overwrite the line in file

# to  create file

file = open('index.html','w') # w also can create a new file i.e it create file called index.html
file.write('<p> this is the line</p>')


# to delete the file
import os
os.remove("file name")



import os
if os.path.exists("file name"):
  os.remove("file name")
else:
  print("file does not exists")

In [ ]:
#  Modules and pip

# module is just a python file that we can import it in to current python file
# if we have one python file that cointant lot of function and variable
#and we want to use them in to current file then module help us

In [ ]:
#class and Object

#classes is something that cunstruct the object and blueprint for object

class human:
  x=5

h1=human
print(h1.x)

# __init__() function is executed when the classes is initialized

# all classes have this function

class human:
  def __init__(self,name,age): # self parameter is the references to the current instances of the class and it is use to acess variable belong to class
                                
    self.name=name
    self.age=age

  def methods(self):  #this is the object method also object containt method in them
      print("hii i'm " + self.name)

h1=human("shubham",23)
h2=human("rahul",24)
h1.methods() 
h2.methods()

5
hii i'm shubham
hii i'm rahul

In [ ]:
print(binascii.crc32(b"hello world"))

In [ ]:
a=[1,2,3,4,5]
b=len(a)
b=b//2
c=[]
d=[]
count=0
for i in a:    
    if(count<b):
        c.append(i)
        count+=1
    else:
        d.append(i)
print(c)
print(d)

[1, 2]
[3, 4, 5]

In [ ]:

a=[5,89,12,89,12,87,56,36,56]
d=0
count=0
e=3
for i in a:
  if(count==e):
    d=i
    for i in a:
      if(i==d):
        print(d)
  count+=1

89
89

In [ ]:
# Lambda function
# lambda is a anonymous function and can take number of argument but single expression

x=lambda a,b:a+b
print(x(23,45))




def f1(n):
  return lambda a:a+n

double= f1('shubham')
print(double('kadu'))

68
kadushubham

In [ ]:
#filter function
# filter function called the specified function that would return the boolean for each item in list

def prime(x):
  for n in range(2,x):
    if x%2== 0:
      return False
    else:
      return True

filtered = filter(prime,[1,3,4,43,4,3,574,5,6,7])
print(list(filtered))


def prime(x):
  for n in range(2,x):
    if x%2== 0:
      return False
    else:
      return True

filtered = filter(prime,range(20))
print('this is the filter value'list(filtered))

[3, 43, 3, 5, 7]

In [ ]:
#map function 
#map function need function and iterable
def squre(x):
  return x*x


a=[1,2,3,4,5,6]
number = map(squre,[1,2,3,4,5,6])
print(list(number))

[1, 4, 9, 16, 25, 36]

In [ ]:
# how to read the xl data
import xlrd

In [ ]:
#iterator
# itarator is an object that containt the value

#iterator
#iterable==> tuple,list and dict

tuple1=('shubham','rugwed','himanshu')

myit=iter(tuple1)
print(next(myit))

shubham